.award{
    height:400px;
}
h1{
    text-align:center;
}
.san-holo{
    height:300px;
}
ol{
    text-align:center;
}
.preacher{
    height:300px;
}
h2{
    text-align:center;
    font-family:Allerta Stencil;
}
body{
    color:black;
}